section {
  position: relative;
  width: 60vw;
  height: 60vh;
  margin: 2rem auto;
  overflow: hidden;
}

section> img {
  width: 100%;
  height: auto;
}

h2 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  color: white;
}

.action-button {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

